@keyframes bob {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-50%, -100%);
  }
}
@keyframes icon {
  0% {
    font-size: 0vw;
  }
  100% {
    font-size: 3vw;
  }
}
@keyframes skele {
  to {
    background-position-x: 0%;
  }
}